streamlit
transformers
langdetect
sentencepiece
pysbd
torch
huggingface_hub
python-dotenv
ipython
psutil

# NLTK for readability and tokenization
nltk
pyphen

# For reading docs
python-docx
PyPDF2

# For Gemma 3 model (GGUF format)
llama-cpp-python